.like-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    padding: 15px;
    min-width: 100px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
}

.like-btn img {
    margin-right: 10px;
}