.navbar {
    position: fixed;
    width: 100vw;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    background-color: #121212;
}

.navbar .logo {
    font-size: 20px;
    cursor: pointer;
}

.navlinks {
    display: flex;
}

.navlinks li {
    margin-left: 50px;
    cursor: pointer;
    font-weight: 500;
    font-size: 13px;
}

.navlinks li:hover {
    cursor: pointer;
}